#change1 {
    width: 10px;
}

#change2 {
    width: 10px;
}

#change3 {
    width: 10px;
}

#change4 {
    width: 10px;
}

#change5 {
    width: 10px;
}

#changeT1 {
    width: 10px;
}

#changeT2 {
    width: 10px;
}

#changeT3 {
    width: 10px;
}

#changeT4 {
    width: 10px;
}

#changeT5 {
    width: 10px;
}

#number {
    width: 98px;
}